/Builds
/Packages
/Temp
/Library
/.vs
/obj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/FrameRateBooster.Editor.Plugins.csproj
/FrameRateBooster.Optimizations.csproj
/FrameRateBooster.Plugins.csproj
/FrameRateBooster.csproj
/FrameRateBooster.sln
