/Builds
/Packages
/Temp
/Library
/.vs
/obj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/FrameRateBooster.Editor.Plugins.csproj
/FrameRateBooster.Optimizations.csproj
/FrameRateBooster.Plugins.csproj
/FrameRateBooster.csproj
/FrameRateBooster.sln
/ProjectSettings/AudioManager.asset
/ProjectSettings/ClusterInputManager.asset
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/InputManager.asset
/ProjectSettings/NavMeshAreas.asset
/ProjectSettings/NetworkManager.asset
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/TagManager.asset
/ProjectSettings/TimeManager.asset
/ProjectSettings/UnityConnectSettings.asset
